$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 1px !default;
$hamburger-layer-border-radius: 0px !default;
$hamburger-types: (collapse) !default;
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss"